.service_name{
    padding: 16px;
    font-size: 20px;
}

.top_profile_icon{
    padding: 16px;
}


.home_greed{
    margin-top: 100px;
    
}

.home_greed_bold{
    font-weight: bold;
    font-size: 36px;
}

.home_greed_regular{
    font-size: 16px;
    margin: 20px, 0px;
}

.q_category{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 16px;
}







